@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&display=swap');

body {
    font-family: 'Amiri', serif;
}


@font-face {
    font-family: 'Amiri';
    src: url('../fonts/Amiri-Regular.ttf') format('ttf');
}
