/* @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap'); */
@font-face {
    font-family: 'Expo Arabica Book';
    src: url('../../fonts/ExpoArabic-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Expo Arabica Book', sans-serif !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #017B6A;
    padding: 15px;
    font-family: 'Expo Arabica Book', sans-serif !important;
    margin: 0;
    direction: rtl;
    text-align: right;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: 0.3s;
}
.navbar a:hover {
    background: #005f73;
    border-radius: 5px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background: white;
    margin-top: 1px;
    min-width: 120px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}
.dropdown-content a {
    display: block;
    color: #017B6A;
    padding: 10px;
    text-align: right;
}
.dropdown-content a:hover {
    background: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .menu-icon {
        display: block;
    }
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #017B6A;
    }
    .nav-links a {
        padding: 15px;
        display: block;
        text-align: right;
    }
    .nav-links.show {
        display: flex;
    }
}

#content {
    margin: 0 !important;
    padding: 0 !important;
}

input {
  width: 270px;
  padding: 8px;
  margin-bottom: 20px;
  border: 2px solid #1BA078;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  outline: none;
  transition: border-color 0.3s ease;
}
input::placeholder {
    color: #888;
}

input[type="file"] {
  cursor: pointer;
  font-size: 20px;
  padding: 5px;
}

button {
    padding: 12px;
    margin-bottom: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #017B6A;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #017B6A;
}

button:active {
    transform: scale(0.98);
}

.b-group {
    text-align: center;
    justify-content: center;
    align-items: center;
}